h1 {background-color: red}
h1 {font-size: 32px}
h1 {text-align: center}
h1 {font-weight:bold}
h1 {color:white}
.odd {background-color: rgb(255, 167, 167);
    font-family: verdana, "dejavu sans", sans-serif;
}
.adjust-font-size {font-size: 24px;}
#two {color: #0000ff;
font-size: 36px;
}
#four {background-color: hsl(120, 100%, 75%);
font-weight: bold;
}
.odd {color:black;}
.rebel {background-color: black;
color: white;
}
.antirebel {background-color: yellow; color: black;}
.rebel,
.antirebel {font-size: 28px;
    font-family: helvetica, "times new roman", sans-serif;}
img.avatar.proportioned {height: auto; width: 300px;}
img.avatar.distorted {height: 400px; width: 200px;}

.container .text {background-color: yellow;
color: #ff0000;
font-size: 20px;
text-align: center;}

    
